<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SQLiteConnection" Language="1033" Version="$(env.SQLITEVERS)" Manufacturer="rhubarb-geek-nz" UpgradeCode="$(env.SQLITEUPGRADECODE)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="$(env.SQLITEPLATFORM)" Description="SQLiteConnection $(env.SQLITEVERS)" Comments="PowerShell SQLite Cmdlet $(env.SQLITECPU)" />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Upgrade Id="{$(env.SQLITEUPGRADECODE)}">
      <UpgradeVersion Maximum="$(env.SQLITEVERS)" Property="OLDPRODUCTFOUND" OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(env.SQLITEPROGRAMFILES)">
        <Directory Id="INSTALLDIR" Name="WindowsPowerShell">
          <Directory Id="INSTALLDIR1" Name="Modules">
            <Directory Id="INSTALLDIR2" Name="SQLiteConnection" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="CSQLiteConnectionDepsJson" Guid="*" Directory="INSTALLDIR2" Win64="$(env.SQLITEISWIN64)">
        <File Id="FSQLiteConnectionDepsJson" KeyPath="yes" Source="$(env.SOURCEDIR)\SQLiteConnection.deps.json" />
      </Component>
      <Component Id="CSQLiteConnectionDll" Guid="*" Directory="INSTALLDIR2" Win64="$(env.SQLITEISWIN64)">
        <File Id="FSQLiteConnectionDll" KeyPath="yes" Source="$(env.SOURCEDIR)\SQLiteConnection.dll" />
      </Component>
      <Component Id="CSQLiteConnectionPdb" Guid="*" Directory="INSTALLDIR2" Win64="$(env.SQLITEISWIN64)">
        <File Id="FSQLiteConnectionPdb" KeyPath="yes" Source="$(env.SOURCEDIR)\SQLiteConnection.pdb" />
      </Component>
      <Component Id="CSQLiteConnectionPsd1" Guid="*" Directory="INSTALLDIR2" Win64="$(env.SQLITEISWIN64)">
        <File Id="FSQLiteConnectionPsd1" KeyPath="yes" Source="$(env.SOURCEDIR)\SQLiteConnection.psd1" />
      </Component>
      <Component Id="CSystemDataSQLiteDll" Guid="*" Directory="INSTALLDIR2" Win64="$(env.SQLITEISWIN64)">
        <File Id="FSystemDataSQLiteDll" KeyPath="yes" Source="$(env.SOURCEDIR)\System.Data.SQLite.dll" />
      </Component>
      <Component Id="CSQLiteInteropDll" Guid="*" Directory="INSTALLDIR2" Win64="$(env.SQLITEISWIN64)">
        <File Id="FSQLiteInteropDll" KeyPath="yes" Source="$(env.SOURCEDIR)\SQLite.Interop.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>